<!DOCTYPE html>
<html ng-app="coursesdApp">
<head>
    <meta charset="utf-8" />
    <title>Courses</title>
    <script src="../Libraries/angular.js"></script>
    <link href="../Libraries/bootstrap.css" rel="stylesheet" />
    <script src="../Libraries/courses.js"></script>
    <script src="../Libraries/calc.js"></script>
</head>

<body>
    <div class="container">
        <div ng-controller="coursesdAppCtrl">
            <div class="page-header">
                <div class="page-header">
                    <div class="row">
                        <h1 class="col-md-6">
                            Courses
                        </h1>

                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <h5><a href="Test.html">Go To Test Page</a></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <h5><a href="TwoControllers.html">Work with two controllers</a></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <h5><a href="CalculatorInheritance.html">Calculator (using inheritance)</a></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <h5><a href="SortingByCatigory.html">Simple Sorting</a></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <h5><a href="Records.html">Records</a></h5>
                        </div>
                    </div>
                    <h3>Пользователь: {{data.user}}. Total count - {{data.courses.length}}</h3>
                </div>
            </div>
            <div class="panel">
                <div class="input-group">
                    <input class="form-control" ng-model="courseName" placeholder="Enter New Course" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="addNewCourse()">Add</button>
                    </span>
                </div>

                <div class="row">
                    <h3>Chose Table Type: </h3>
                    <button type="button" class="btn btn-danger" ng-click="fullTable()">Full Table</button>
                    <button type="button" class="btn btn-warning" ng-click="shortTable()">Short Table</button>
                </div>

                <ng-include src="url"></ng-include>
            </div>
        </div>
        <div ng-controller="calcCtrl">
            <div class="row">
                <div class="panel panel-default">
                    <h5>Calculator</h5>
                    <input ng-model="firstValue" />
                    <input ng-model="secondValue" />
                    <button class="btn btn-default" ng-click="add()">+</button>
                    <button class="btn btn-default" ng-click="diff()">-</button>
                    <button class="btn btn-default" ng-click="mult()">*</button>
                    <button class="btn btn-default" ng-click="div()">/</button>
                    <h2>Результат: {{result}}</h2>
                </div>
            </div>
        </div>
    </div>


</body>
</html>